<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>

    <!-- css -->
    <link rel="stylesheet" href="css/style.css">

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- title -->
    <title>Vue Email List</title>
</head>
<body> 

    <div id="myapp">

        <div id="card">

           <div id="title"><h2>Lista email:</h2></div>
           <hr>
        
            <ol>
                <li v-if="listaEmail.length === 10" v-for="email in listaEmail">
                    <i class="fa-solid fa-envelope-circle-check"></i>
                    {{email}}
                </li>
            </ol>

        </div>

        
    </div>
    

    <!-- vue js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- my js -->
    <script src="js/main.js"></script>
</body>
</html>